pete_n8n_workflow_final.json
{
    "name": "Pete Intake Bot - Code Node Fix",
    "nodes": [
        {
            "parameters": {
                "authentication": "oAuth2",
                "events": [
                    "invitee.created"
                ]
            },
            "id": "241fcf05-d1ca-4577-b513-8864a215fb50",
            "name": "Calendly Trigger",
            "type": "n8n-nodes-base.calendlyTrigger",
            "typeVersion": 1,
            "position": [
                6208,
                1104
            ],
            "webhookId": "a4717b7f-c14d-4a79-8abd-f0b44281d386",
            "credentials": {
                "calendlyOAuth2Api": {
                    "id": "QTbfao0FKbRJRiQS",
                    "name": "Calendly account"
                }
            }
        },
        {
            "parameters": {
                "amount": 10,
                "unit": "seconds"
            },
            "id": "c0608569-2e22-467d-8ebd-7c7b42113286",
            "name": "Wait for GCal Sync",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                6416,
                1104
            ],
            "webhookId": "wait-hook"
        },
        {
            "parameters": {
                "operation": "getAll",
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "primary"
                },
                "limit": 1,
                "options": {
                    "timeMin": "={{ $node[\"Calendly Trigger\"].json.payload.scheduled_event.start_time }}",
                    "timeMax": "={{ new Date(new Date($node[\"Calendly Trigger\"].json.payload.scheduled_event.start_time).getTime() + 60000).toISOString() }}",
                    "singleEvents": true,
                    "orderBy": "startTime"
                }
            },
            "id": "ba055925-3761-410f-a70b-20bef9bf4d05",
            "name": "Get Google Calendar Event",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                6608,
                1104
            ],
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "ur0BONrqVq0ePnvr",
                    "name": "Google Calendar account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const calendly = $node[\"Calendly Trigger\"].json.payload;\nconst gcal = items[0].json;\n\n// 1. Get Meeting URL\nconst meeting_url = gcal.hangoutLink;\n\n// 2. Robust Name Extraction\nlet first_name = calendly.first_name;\nlet last_name = calendly.last_name;\n\nif (!first_name) {\n  const full_name = calendly.name || calendly.invitee_name || 'Guest';\n  const parts = full_name.trim().split(' ');\n  first_name = parts[0];\n  last_name = parts.slice(1).join(' ');\n}\n\n// 3. Calculate Join Time (2 mins early to save credits)\nconst startTime = new Date(calendly.scheduled_event.start_time);\nconst joinTime = new Date(startTime.getTime() - 2 * 60000);\n\nreturn [{\n  json: {\n    meeting_url: meeting_url,\n    first_name: first_name,\n    last_name: last_name || '',\n    email: calendly.email,\n    join_at: joinTime.toISOString()\n  }\n}];"
            },
            "id": "478447a8-f5fd-45e2-a04c-06b39f333a3a",
            "name": "Extract Data (Code)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                6800,
                1072
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://us-west-2.recall.ai/api/v1/bot",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  \"meeting_url\": $node[\"Extract Data (Code)\"].json.meeting_url,\n  \"bot_name\": \"Pete - Flow Stem Lab\",\n  \"join_at\": $node[\"Extract Data (Code)\"].json.join_at,\n  \"automatic_leave\": {\n    \"waiting_room_timeout\": 60,\n    \"everyone_left_timeout\": 10,\n    \"no_one_joined_timeout\": 60\n  },\n  \"variant\": {\n    \"google_meet\": \"web_4_core\",\n    \"zoom\": \"web_4_core\"\n  },\n  \"output_media\": {\n    \"camera\": {\n      \"kind\": \"webpage\",\n      \"config\": {\n        \"url\": \"https://jossengaibonaaffiliate-bit.github.io/flow-stem-lab/bot.html?first_name=\" + ($node[\"Extract Data (Code)\"].json.first_name || '') + \"&last_name=\" + ($node[\"Extract Data (Code)\"].json.last_name || '') + \"&email=\" + ($node[\"Extract Data (Code)\"].json.email || '') + \"&v=\" + new Date().getTime()\n      }\n    }\n  },\n  \"chat_context\": {\n      \"first_name\": $node[\"Extract Data (Code)\"].json.first_name,\n      \"last_name\": $node[\"Extract Data (Code)\"].json.last_name,\n      \"email\": $node[\"Extract Data (Code)\"].json.email\n  },\n  \"browser_rendering_options\": {\n    \"permissions\": [\"microphone\"]\n  }\n}) }}",
                "options": {}
            },
            "id": "44ddd9dd-6a13-4a95-a4fb-d9ebb4c99f76",
            "name": "Send Bot to Meeting1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                7008,
                1072
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "vI2ZMQfydJ2rbTB1",
                    "name": "Header Auth account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Calendly Trigger": {
            "main": [
                [
                    {
                        "node": "Wait for GCal Sync",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait for GCal Sync": {
            "main": [
                [
                    {
                        "node": "Get Google Calendar Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Google Calendar Event": {
            "main": [
                [
                    {
                        "node": "Extract Data (Code)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Data (Code)": {
            "main": [
                [
                    {
                        "node": "Send Bot to Meeting1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false,
        "timeSavedMode": "fixed",
        "callerPolicy": "workflowsFromSameOwner"
    },
    "versionId": "441a2573-dd77-4914-a0d6-1397e6ceaeed",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "f2c0dbba424440bd45f5dc1e5c3b09621d182a656077e7b01db88cabcd703746"
    },
    "id": "O4vuAdiUODrLTbBw41khJ",
    "tags": []
}