pete_n8n_workflow_final.json
{
    "name": "Pete Bot - V10 Final (Branding Update)",
    "nodes": [
        {
            "parameters": {
                "authentication": "oAuth2",
                "events": [
                    "invitee.created"
                ]
            },
            "id": "calendly-trigger-001",
            "name": "Calendly Trigger",
            "type": "n8n-nodes-base.calendlyTrigger",
            "typeVersion": 1,
            "position": [
                240,
                300
            ],
            "webhookId": "webhook-001",
            "credentials": {
                "calendlyOAuth2Api": {
                    "id": "QTbfao0FKbRJRiQS",
                    "name": "Calendly account"
                }
            }
        },
        {
            "parameters": {
                "amount": 10,
                "unit": "seconds"
            },
            "id": "initial-wait-001",
            "name": "Wait 10s",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "resource": "event",
                "operation": "getAll",
                "calendar": {
                    "__rl": true,
                    "value": "primary",
                    "mode": "list",
                    "cachedResultName": "Primary"
                },
                "returnAll": false,
                "limit": 10,
                "options": {
                    "timeMin": "={{ $node[\"Calendly Trigger\"].json.payload.scheduled_event.start_time }}",
                    "timeMax": "={{ $node[\"Calendly Trigger\"].json.payload.scheduled_event.end_time }}",
                    "query": "={{ $node[\"Calendly Trigger\"].json.payload.email }}"
                }
            },
            "id": "google-calendar-001",
            "name": "Get Google Calendar Event",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                680,
                300
            ],
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
                    "name": "Google Calendar account"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "meeting-url",
                            "name": "meeting_url",
                            "value": "={{ $json.hangoutLink }}",
                            "type": "string"
                        },
                        {
                            "id": "first-name",
                            "name": "first_name",
                            "value": "={{ $node[\"Calendly Trigger\"].json.payload.first_name }}",
                            "type": "string"
                        },
                        {
                            "id": "email",
                            "name": "email",
                            "value": "={{ $node[\"Calendly Trigger\"].json.payload.email }}",
                            "type": "string"
                        },
                        {
                            "id": "start-time",
                            "name": "start_time",
                            "value": "={{ $node[\"Calendly Trigger\"].json.payload.scheduled_event.start_time }}",
                            "type": "string"
                        },
                        {
                            "id": "join-at",
                            "name": "join_at",
                            "value": "={{ new Date(new Date($node[\"Calendly Trigger\"].json.payload.scheduled_event.start_time).getTime() - 10 * 60 * 1000).toISOString() }}",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "extract-data-001",
            "name": "Extract Google Meet URL",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://us-west-2.recall.ai/api/v1/bot/",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"meeting_url\": \"{{ $json.meeting_url }}\",\n  \"bot_name\": \"Pete - Flow Stem Lab\",\n  \"join_at\": \"{{ $json.join_at }}\",\n  \"automatic_leave\": {\n    \"waiting_room_timeout\": 600\n  },\n  \"variant\": {\n    \"google_meet\": \"web_4_core\",\n    \"zoom\": \"web_4_core\"\n  },\n  \"output_media\": {\n    \"camera\": {\n      \"kind\": \"webpage\",\n      \"config\": {\n        \"url\": \"https://jossengaibonaaffiliate-bit.github.io/flow-stem-lab/bot.html?first_name={{ $json.first_name }}&email={{ $json.email }}\"\n      }\n    }\n  },\n  \"browser_rendering_options\": {\n    \"permissions\": [\"microphone\"]\n  }\n}",
                "options": {}
            },
            "id": "recall-request-001",
            "name": "Send to Recall.ai",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1120,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "vI2ZMQfydJ2rbTB1",
                    "name": "Recall API Key"
                }
            }
        }
    ],
    "connections": {
        "Calendly Trigger": {
            "main": [
                [
                    {
                        "node": "Wait 10s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 10s": {
            "main": [
                [
                    {
                        "node": "Get Google Calendar Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Google Calendar Event": {
            "main": [
                [
                    {
                        "node": "Extract Google Meet URL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Google Meet URL": {
            "main": [
                [
                    {
                        "node": "Send to Recall.ai",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    }
}